// -------------------------------------------------------------
// This file contains styles for the currently open workspace.
// -------------------------------------------------------------

@import './mixins';

.workspace {
    border-top: 1px solid #ccc;
    flex-grow: 1;
    position: relative;

    .sidebar-handle {
        height: 100%;
        position: absolute;
        width: 10px;
        cursor: col-resize;
        z-index: 5;
        @include unselectable();
    }

    .sidebar {
        flex-direction: column;
        align-items: stretch;
        border-right: 1px solid #eee;
        flex-shrink: 0;
        height: 100%;

        .view-type {

            .type {
                flex-basis: 50%;
                padding: 8px 12px;
                font-size: 13px;
                justify-content: center;
                cursor: pointer;
                @include backgroundHover(#ddd);
                @include backgroundClick(#ddd);
                @include foregroundHover(#777);
                @include foregroundClick(#777);

                &.active {
                    @include backgroundHover(#fff);
                    @include backgroundClick(#fff);
                    @include foregroundHover(#000);
                    @include foregroundClick(#000);
                }
            }
        }

        .heirarchy-gate-templates {
            overflow: auto;
            align-items: flex-start;
            flex-grow: 1;

            .sidebar-gate-template-group {
                flex-direction: column;
                cursor: default;
                flex-shrink: 0;
                border: 2px solid #eee;
                border-right: none;
                margin-bottom: 10px;
                white-space: nowrap;
                position: relative;
                cursor: pointer;

                &.gating-error {

                    .sidebar-gate-template {
                        filter: blur(5px);
                    }
                }

                .title .text {
                    margin-right: 20px;
                }

                & > .title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #999;
                    background: #fafafa;
                    align-items: stretch;

                    .text {
                        flex-grow: 1;
                        padding: 10px;
                    }

                    .remove-gate-template-group {
                        display: none;
                        color: #f00;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;
                        font-size: 18px;
                        cursor: pointer;
                        @include backgroundHover(#f2f2f2);
                        @include backgroundClick(#f2f2f2);
                    }

                    &:hover {

                        .remove-gate-template-group {
                            display: flex;
                        }

                        .number {
                            display: none;
                        }
                    }

                    .number {
                        align-items: center;
                        font-weight: 600;
                        color: #555;
                        padding: 0 10px;
                    }
                }

                .gate-templates {
                    flex-direction: column;
                    position: relative;
                }

                .error-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    cursor: pointer;
                    background: rgba(192, 41, 66, 0.2);
                    color: $red-colour;
                    padding: 0 15px;

                    &:hover {
                        background: rgba(192, 41, 66, 0.225);
                    }

                    &:active {
                        background: rgba(192, 41, 66, 0.25);
                    }

                    i {
                        font-size: 22px;
                        margin-right: 10px;
                    }

                    .text {
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }

            .sidebar-gate-template {
                flex-shrink: 0;
                align-items: center;
                flex-direction: column;
                align-items: stretch;
                cursor: pointer;
                border-bottom: 1px solid #eee;
                min-width: 100%;

                &.disabled {
                    cursor: default;
                    pointer-events: none;
                }

                &.highlighted > .body {
                    @include backgroundHover(lighten(#A7DBD8, 20%));
                    @include backgroundClick(lighten(#A7DBD8, 20%));
                }

                &.selected > .body {
                    @include backgroundHover(lighten($highlight-colour, 25%));
                    @include backgroundClick(lighten($highlight-colour, 25%));
                    color: #fff;
                }

                & > .body {
                    @include backgroundHover(#fff);
                    @include backgroundClick(#fff);
                    position: relative;
                    padding: 8px 8px 8px 10px;
                    font-size: 12px;
                    flex-grow: 1;
                    align-items: center;
                    box-sizing: border-box;

                    & > .title {
                        font-size: 12px;
                        font-weight: 600;
                        color: #666;
                        flex-grow: 1;
                    }

                    & > .optional {
                        font-weight: 600;
                        color: darken($highlight-colour, 20%);
                    }

                    & > .number {
                        font-weight: 600;
                        color: #555;
                        margin-left: 10px;
                    }
                }

                .child-gate-templates {
                    padding-left: 10px;
                    flex-direction: column;
                    align-items: stretch;
                }
            } // .sidebar-gate-template
        } // .heirarchy-gate-templates

        .flat-gate-templates {
            flex-direction: column;
            align-items: stretch;
            overflow: auto;
            flex-grow: 1;

            .gate-template {
                border-bottom: 1px solid #eee;
                font-size: 12px;
                font-weight: 600;
                color: #666;
                padding: 8px 12px;
                cursor: pointer;
                align-items: center;
                @include backgroundHover(#fff);
                @include backgroundClick(#fff);
                @include foregroundHover(#666);
                @include foregroundClick(#666);

                i {
                    font-size: 18px;
                    margin-right: 10px;
                }

                &.active {
                    @include backgroundHover(lighten($highlight-colour, 30%));
                    @include backgroundClick(lighten($highlight-colour, 30%));
                    @include foregroundHover(darken($highlight-colour, 20%));
                    @include foregroundClick(darken($highlight-colour, 20%));
                }
            }
        }
    } // .sidebar
} // .workspace